<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistId</key>
	<integer>290623727</integer>
	<key>artistName</key>
	<string>Virtual Programming Ltd</string>
	<key>bundleVersion</key>
	<string>1.0.4</string>
	<key>copyright</key>
	<string>© and ™ Aardman 2011 and © Virtual Programming Ltd</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>Games</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>itemId</key>
	<integer>433704428</integer>
	<key>itemName</key>
	<string>Home Sheep Home</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Virtual Programming Ltd</string>
	<key>playlistName</key>
	<string>Home Sheep Home</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2011-04-28T00:30:23Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a899.phobos.apple.com/us/r1000/082/Purple/d4/53/e7/mzi.yncgmyqu.png</string>
	<key>softwareIconNeedsShine</key>
	<true/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>1</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.vpltd.HomeSheepHome</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>4808191</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3655838</integer>
		<integer>4131600</integer>
		<integer>4157179</integer>
		<integer>4684572</integer>
		<integer>4808191</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>探险游戏</string>
			<key>genreId</key>
			<integer>7002</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>智力游戏</string>
			<key>genreId</key>
			<integer>7012</integer>
		</dict>
	</array>
	<key>vendorId</key>
	<integer>20820</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
